.container {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(30, 58, 138, var(--tw-text-opacity));
  text-align: center;
  padding: 1rem 0;

  i {
    margin-right: 0.25rem;
    font-size: 1.2rem;
  }

  .now {
    display: block;
  }
}